body{
           margin:0px;
           padding:0px;
}

/* basic classes common to all */
.white{
    color:white;
}
.blue{
           color:blue;     
}
.red{
    color:#93738C;
}
.bg-red{
    background-color: #93738C;
}
.bg-blue{
background-color: blue;
}
.bg-pink{
    background-color: pink;
}
.bg-green{
    background-color: lime;
}
.bg-aqua{
    background-color: aqua;
}
.bg-brown{
    background-color: burlywood;
}

.wd-10{
    width: 10% !important;
}
.wd-40{
    width: 40% !important;
}


.wd-60{
    width:60% !important;
}
.wd-70{
    width:70% !important;
}
.wd-80{
    width:80% !important;
}
.wd-90{
    width:90% !important;
}
.wd-100{
    width:100% !important;
}

/* header */

header{
           border:1px solid black;
           height:65vh;
           width:100 vw;
           margin-top: -8px;
           margin-left: -8px;
           opacity:0.8;
           background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
           background-position: center;
           background-attachment: fixed;
           background-repeat: no-repeat;
           background-size: cover;
          

}

#navigation ul{
       list-style-type: none;
       /* margin-left:26%; */
       text-align: center;
}
#navigation li{
           display:inline-block;
           /* height:50px; */
           width:auto;
          
           
           margin:1%;

           margin-top:0px;
}

#navigation a{
            text-decoration:none;
           color: white;
           font-family: sans-serif;
           /* font-weight: bold; */
           padding: 2%;
           transition: color 1s,border-bottom 4s;
}

#navigation a:hover{
    color:lightgrey;
    border-bottom: 1px solid darkgray;

}



#name{
           color:white;
           font-size:3rem;
           font-family: sans-serif;
           word-spacing: 0.5rem;
           font-weight:bold;
           /* margin-left:35vw; */
           text-align: center;
           margin-top:10%;
}

.social ul{
           list-style-type: none;
           /* margin-left:37vw; */
           text-align: center;
           margin-left:-2.7rem;
           
}
.social li{
           display:inline-block;
           height:15px;
           width:15px;
           margin-right:0.7rem;
           
           margin-top:0px;
           padding:7px;
           border: 1px solid transparent;
          
}
.social li:hover{
           border: 1px solid lightgrey;
           box-shadow: 0px 0px 6px 4px rgba(230,196,196,0.3);
           border-radius:50%;
}
.social a{
           height:80%;
           width:80%;
           padding:10%;
}
.social img{
           height:100%;
           width:100%;
}


/* sections */

section:nth-child(2n+1)
{
    background-color: whitesmoke;
    height:75vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
}
section:nth-child(2n)
{
    /* background-color: lightgrey; */
    height:75vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

/* ABOUT SECTION */
section{
         height: auto;
           min-height:65vh;
           /* border:1px solid pink; */
           position: relative;
           
           
}
#about{
    background-color: whitesmoke !important;
}

#about_img{
           position:absolute;
           left:42%;
           top:-20%;
           display: inline-block;
           height:200px;
           width:200p;
           /* text-align: center; */
           /* margin-left:40vw; */
           border-radius:50%;
           border:1px solid white;
           box-shadow: 0px 0px 6px 4px rgba(230,196,196,0.3);
           /* margin-top:-9%; */
           z-index: 1;
           
}
#about_img img{
           height:100%;
           width:100%;
           border-radius:50%;
}

#about_txt{
           display: inline-block;
           width:80%;
           margin:12%;
           margin-left:13%;
          
           word-spacing: 0.3rem;
           /* line-height:1.5rem; */
           /* font-family: sans-serif; */
           font-family: 'Dongle', sans-serif;
           
           opacity:0.9;
           font-weight: 400;
           text-transform: capitalize;
           text-align: justify;
           color: grey;
           line-height: 28px;
           font-size: 38px;
}




/* skills section */

.section-heading{
    color:blue;
    font-size:25px;
    height:25vh;
    font-weight: bold;
    font-family: sans-serif;
}
.skill-indicator{
    
    /* border: 1px solid red; */
    height:auto;
    min-height:45vh;
    width:70%;
     display: flex;
    flex-wrap: wrap;
     flex-direction: row ;
    justify-content:space-around;
    align-items: center; 
    /* align-content:space-around; */

}



.skill-box{
    background-color: rgb(236, 236, 236);
    height: 40px;
    width:185px;
    /* border:1px solid black; */
    margin:5px;
    box-shadow: 0px 0px 6px 4px rgba(230,196,196,0.3);
    border:0px;
    border-radius:20px ;
    position:relative;
}
.skill-value{
color:white;
display:inline-block;
height:100%;
/* width:auto; */
width:100%;
font-family: sans-serif;
font-weight: bolder;
border-radius: 20px 0px  0px 20px;
box-sizing: border-box;

}
.skill-value p{
    
    position:absolute;
    left:5%;
    top:12px;
    margin:0px;
    color:black;
}

/* PORTFOLIO */
#portfolio{
    padding: 10px 0px;
    height:85vh
}

.helper1{
    margin-bottom: 12px;
    
}

.port-helper{
    align-content:space-around;
    align-items: center;
    width:85%;
    height:50vh;
}

.port-outer{
    height:12rem;
    width:12rem;
    margin-left:5% ;
    margin-right:8%;
    margin-bottom: 3%;
    flex-shrink: 1;
    /* border:1px solid green; */
    box-shadow: 0px 0px 6px 4px rgba(230,196,196,0.3);
}

.image-div img{
    height:100%;
    width:100%;
}

 /* '#2857a4' and rightmost color is '#403066'. */ 
/* CONTACT */

#contact{
    height:65vh;
    border:1px solid purple;
    /* background: linear-gradient(red,green); */
    background: linear-gradient(45deg,#2857a4,#403066) !important;
}
#contact span{
 color:white;
}

.flex-row{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:80%;
    /* border:1px solid red; */
    margin-left: 8%;
    margin-top:-20px;

}
#contact-form{
    /* border:1px solid black; */
    width:45%;
    margin-right: 10%;
}
#contact-form input,#contact-form textarea{
    display: block;
    color:white;
    background-color: transparent;
    border:0px 0px 1px 0px;
    border-color: transparent;
    border-bottom-color:white ;
    margin:15px;
    width:80%;
    padding:0.3rem;
    font-size: 0.8rem;
    margin-bottom: 25px;
    font-family: sans-serif;
    font-weight: bold;
}
#contact-form input::placeholder,#contact-form textarea::placeholder{
    color:lightgrey;
    font-family: sans-serif;
    font-weight: bold;
}
#contact-info{
    /* border:1px solid black; */
   width:45%;
   padding-left: 10px;

}
#contact-form button{
    height:40px;
    width:110px;
    background-color: transparent;
    border:1px solid white;
    color:white;
    font-weight: 900;
    font-size: 0.7rem;
    font-family: sans-serif;
    padding:0px;
    margin-left:34%;
    
}
#address div{
    margin-bottom:5px;
}



/* EXPERIENCE */

#experience,#education{
    height:auto;
    padding-bottom: 5%;

}

.flexcolumn-edu-exp{
display:flex;
flex-direction: column;
height:auto;
width:60%;
/* border:1px solid red; */
margin-top:-10px;

}
.relative-pos{
    position:relative;
    top:0px;
    left:0px;
}
.box{
    min-height:150px;
    width:45%;
    /* border: 1px solid black; */
    position:relative;
      margin-top:5px; 
}
.box:nth-child(2n+1):after{
    content:" ";
    position:absolute;
    top:20%;
    right:-8%;
    height:0.5rem;
    width:0.5rem;
    background-color: grey;
    border-radius:50%;
    z-index: 1;
}
.box:nth-child(2n):after{
    content:" ";
    position:absolute;
    top:20%;
    left:-12%;
    height:0.5rem;
    width:0.5rem;
    background-color: grey;
    border-radius:50%;
    z-index: 1;
}



.box-border{
    position: absolute;
    height:85%;
    border-left:4px dotted blue;
    width:0px;
    
    top:7%;
    left:48%;
}

.box:nth-child(2n)
{
     top:auto;
    left:53%;
}

.box-border-span{
    /* transfrom: rotate(90deg); */
    position: sticky;
    
    color:blue;
   
    top:10%;
    /* left:48%; */
    margin-left:-6px;
    transform:rotate(90deg);
    z-index: 2;
}

.box{
    font-family: cursive;
}

.box:nth-child(2n+1){
    text-align: right;
}
.box:nth-child(2n)
{
    text-align: left;
}
.box:nth-child(2n+1)::before{
    content:'';
    background-image: url(pics/cn-logo.jfif);
    position:absolute;
    display: inline-block;
    height:3rem;
    width:3rem;
    background-size: contain;
    background-repeat: no-repeat;
    top:5px;
    left:20%;
    border-radius:50%;

   

}

.box:nth-child(2n)::before{
    content:'';
    background-image: url(pics/cn-logo.jfif);
    position:absolute;
    display: inline-block;
    height:3rem;
    width:3rem;
    background-size: contain;
    background-repeat: no-repeat;
    top:5px;
    right:20%;
    border-radius:50%;
   

}


.lower-heading{
    /* text-align: right; */
    color:black;
    vertical-align: bottom;
    padding-top:0.8rem;
}


